.navigasi {
 color:rgb(255, 255, 255);
 background: #EEAECA;
 background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
 font-size: 30px;
 font-family: sans-serif;
 padding: 30px;
 gap: 20px;


}
nav{
    display: flex;
    gap: 5%;
    margin-left: 40%;
}

.judulhome h1{
    background: -webkit-linear-gradient(#000000, #000000);
    font-family: sans-serif;
    font-size: 110px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.subjudul p{
    color: cornflowerblue;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.gambar {
    display: flex;
    color: cornflowerblue;
    padding: 0;
    padding-left: 5%;
    padding-top: 2%;
    position: fixed;
}


.judulprofil{
    display: flex;
    text-align: center;
    color: cornflowerblue;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 1%;
    margin-left: 30%;
}

.deskripsi{
    display: flex;
    text-align: left;
    color: cornflowerblue;
    font-family: sans-serif;
    font-size: 24px;
    margin-top: 0%;
    margin-left: 30%;
    max-width: 900px;
    text-align: justify;

}

.gambar1{
    text-align: center;
}